<html>
<head>
    <title>EventeX | Welcome To The Django</title>
    <link type="text/css" href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" media="screen" />
</head>
<body>        
    <div id="header" class="tamanho">
         <h1>"EvEnTeX"</h1>
    </div>
    <div id="content" class="tamanho">
          {% block content %}
          {% endblock content %}
    </div>
    <div id="footer">
         <p>&copy; 2010. <a rel="license" href="http://anaclaudia.herike.com">EventeX</a>, some rights reserved.</p>
    </div>
</body>
</html>
